ul.nav.navbar-nav a
{
  background-color: none;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

ul.nav.navbar-nav a:hover{
  background-color: gray;
}

ul#list li a{
  color:#000;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 30%;
  margin: auto;
}

#carousel-example-generic.carousel.slide
{
  margin-top:-20px;
}

div.item.active{
  padding: 50px;
}

.trai-cay-nhap,.trai-cay-dac-san,.do-kho,.rau-cu{
  width:250px;
  height:150px;
}
.trai-cay-nhap{
  background-color: #652d91;
}
.trai-cay-dac-san{
  background-color: #8ec63f;
}
.do-kho{
  background-color: #d6df22;
}
.rau-cu{
  background-color: #f25a29;
}

.col-md-3{
  text-align: center;;
}

#trai-cay,#rau-cu,#dac-san,#do-kho{
  text-decoration: none;
  background-color: transparent;
  color: #fff;
  position: relative;
  bottom: -10px;
  font-size: 20px;
}